@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;

}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--var-main-darkest) !important;
}

a{
    color: inherit !important;
    text-decoration: none !important;
}

h2 {
    font-size: 24px;
    line-height: 1.1;
    color: var(--var-lightest) !important;
    font-weight: 800 !important;
    transition: 0.3s ease-in-out;
}

.last-known{
    transition: 0.3s ease-in-out;
}

h2:hover,
.last-known:hover{
    color: var(--var-cyan) !important;
}

p {
    color: var(--var-lightest);
    font-size: 20px;
}

.fs-18 {
    color: var(--var-soft-blue);
    font-size: 18px;
    font-weight: 500 !important;
    letter-spacing: 0.6px !important;
    line-height: 20px !important;
}

.bg-blue{
    background-color: var(--var-soft-blue) !important;
    color: black !important;
    text-transform: capitalize;
    font-weight: 600 !important;
    margin: 0px 8px;
}

@media screen and (max-width:767px){
    p {
        font-size: 16px;
    }
}
