body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Set a light background color for the entire page */
  }
  
  .container {
    text-align: center;
    background-color: #fff; /* Set a white background color for the container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  button {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #280ae7; /* Set a green background color for the buttons */
    color: #fff; /* Set white text color for the buttons */
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease; /* Add a smooth transition for background color */
  }
  
  button:hover {
    background-color: #45a049; /* Darken the background color on hover */
  }
  
  h1 {
    /* font-size: 3rem; */
    margin: 0px;
    color: #333;
    display: inline-block; /* Keep the counter and buttons in a single line */
  }